<div class="relative flex items-start bg-blend-multiply bg-center bg-cover {% if item.invertido %}{{ bgInv }}{% else %}{{ bgCol }}{% endif %}"{% if item.imagem %} style="background-image: url('{{ item.imagem.url }}')"{% endif %}>
	<div class="px-6 py-5 h-full w-full bg-opacity-40 {% if item.invertido %}{{ bgInv }}{% else %}{{ bgCol }}{% endif %}">
		<div class="flex-1 min-w-0 overflow-x-hidden">
			<a href="{{ item.get_absolute_url }}">
				<p class="text-lg leading-5 font-title font-semibold {% if item.invertido %}{{ txtInv }}{% else %}{{ txtCol }}{% endif %}">{{ item.titulo|upper|truncatechars:"45" }}</p>
				<p class="text-sm font-med {% if item.invertido %}{{ txtInv }}{% else %}{{ txtCol }}{% endif %}">{{ item.texto|truncatechars:"150" }}</p>
			</a>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="h-5 w-6 mt-3 mx-auto absolute right-4 bottom-4">
				<path fill="{% if item.invertido %}{{ shrInv }}{% else %}{{ shrCol }}{% endif %}" d="M352 320c-22.608 0-43.387 7.819-59.79 20.895l-102.486-64.054a96.551 96.551 0 0 0 0-41.683l102.486-64.054C308.613 184.181 329.392 192 352 192c53.019 0 96-42.981 96-96S405.019 0 352 0s-96 42.981-96 96c0 7.158.79 14.13 2.276 20.841L155.79 180.895C139.387 167.819 118.608 160 96 160c-53.019 0-96 42.981-96 96s42.981 96 96 96c22.608 0 43.387-7.819 59.79-20.895l102.486 64.054A96.301 96.301 0 0 0 256 416c0 53.019 42.981 96 96 96s96-42.981 96-96-42.981-96-96-96z">
				</path>
			</svg>
		</div>
	</div>
</div>
