<div class="mt-3 px-4 py-3 flex items-center justify-between sm:px-6">
	<div class="sm:flex-1 sm:flex sm:items-center sm:justify-between">
		<div class="mr-3">
			<p class="text-sm text-gray-700">
				Mostrando
				<span class="font-medium">{{ first }}</span>
				a
				<span class="font-medium">{{ last }}</span>
				de
				<span class="font-medium">{{ numInsts }}</span>
				resultados
			</p>
		</div>
		<div>
			<span class="text-lg text-grey-700">Página</span>
			<nav class="relative mx-auto sm:mx-0 z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
				<input type="hidden" x-ref="hpage">
				<button value="{{ prevPage }}" type="submit" @click="$el.name = 'p';" x-ref="prevPage" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
					<span class="sr-only">Previous</span>
					<!-- Heroicon name: solid/chevron-left -->
					<svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
						<path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
					</svg>
				</button>
				<!-- Current: "z-10 bg-indigo-50 border-indigo-500 text-indigo-600", Default: "bg-white border-gray-300 text-gray-500 hover:bg-gray-50" -->
				
				<select id="page" x-ref="page" @change="
					$el.name = 'p';
					$nextTick(() => { $refs.form.submit() })"
					class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
					
					{% for p in pageList %}
						<option {% if p == page %}selected {% endif %}value="{{ p }}">{{ p }}</option>
					{% endfor %}
				</select>

				<button value="{{ nextPage }}" type="submit" @click="$el.name = 'p';" x-ref="nextPage" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
					<span class="sr-only">Next</span>
					<!-- Heroicon name: solid/chevron-right -->
					<svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
						<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
					</svg>
				</button>
			</nav>
		</div>
	</div>
</div>